* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.mainProductos .textoParrafo {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  text-align: justify; }

.textoResaltado {
  font-weight: bold; }

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-size: 67px;
  text-decoration: none; }

.tituloPrincipal h1 {
  font-family: 'Anton', sans-serif;
  font-size: 67px;
  text-decoration: none;
  text-align: center; }

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 37px;
  margin-top: 30px;
  padding: 20px;
  text-align: center; }

h3 {
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px 30px;
  font-size: 27px; }

h5 {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  color: black; }

p {
  font-family: 'Alike', serif;
  font-size: 25px;
  padding: 10px 30px;
  text-align: justify; }

.padre3 p {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder; }

.header nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: baseline;
  height: 130px;
  background-color: #c56cc5; }

/* NAVEGADOR */
.navbar-nav li {
  display: flex;
  list-style: none;
  padding-left: 30px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  justify-content: left;
  margin: 0 10px; }

.navbar-nav li:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  background-color: #c56cc5;
  box-shadow: 5px 5px #e41111; }

.nav ul li a {
  color: red;
  text-decoration: none; }

/* MAIN */
.main {
  background-color: #ffffff; }

.padre1 {
  margin-bottom: 50px; }

.carrusel-hoku {
  width: 100%;
  height: 600px; }

.carrusel-metropolis {
  width: 100%;
  height: 600px; }

.carrusel-nighthawks {
  width: 100%;
  height: 600px; }

.textcarrusel1 h5 {
  font-family: 'Julius Sans One', sans-serif;
  width: 300px;
  background-color: white;
  font-size: 30px;
  color: black;
  font-weight: bolder; }

.textcarrusel1 p {
  text-align: start;
  font-family: 'Julius Sans One', sans-serif;
  width: 300px;
  background-color: white;
  font-size: 25px;
  color: black;
  font-weight: bolder; }

.padre3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }

.video {
  padding-top: 30px;
  padding-bottom: 30px; }

/* CSS PRODUCTOS  */
.grilla {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100vw;
  grid-row-gap: 60px;
  grid-template-areas: "nuestroslibros nuestroslibros" "section1 section1" "section2 section2" "section3 section3"; }

.nuestroslibros {
  display: grid;
  grid-area: nuestroslibros;
  justify-content: center;
  align-content: center; }

.estadosunidos {
  font-size: 30px; }

.rusia {
  font-size: 30px; }

.alemania {
  font-size: 30px; }

/* estados unidos */
.section1 {
  display: grid;
  grid-area: section1;
  background-color: #9cf19c;
  padding: 0px;
  display: flex; }

.section1:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.texto1 {
  padding: 20px;
  display: inline-block;
  text-align: justify; }

/* rusia */
.section2 {
  grid-area: section2;
  background-color: #ff7f50;
  padding: 0px;
  display: flex; }

.section2:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.texto2 {
  padding: 20px;
  text-align: justify; }

/* alemania */
.section3 {
  grid-area: section3;
  background-color: #10c4bb;
  padding: 0px;
  display: flex;
  margin-bottom: 50px; }

.section3:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.texto3 {
  padding: 20px;
  text-align: justify; }

.mainProductos .textoParrafo {
  color: #7a1f7a;
  font-size: 2rem; }
  .mainProductos .textoParrafo:hover {
    background-color: black; }

/* EDICIONES LIMITADAS ESTILOS */
.hoku {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-right: 45px;
  margin-bottom: 30px; }

.textohoku {
  text-align: left;
  font-family: 'Julius Sans One', sans-serif; }

.hokuImg:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.szukal {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-left: 45px;
  margin-bottom: 80px; }

.textszukalski {
  font-family: 'Julius Sans One', sans-serif; }

.szukalskiImg:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

/* FORMULARIO CSS */
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px; }

.nombre {
  padding-bottom: 30px; }

.mail {
  padding-bottom: 30px; }

/* FOOTER */
.pie-pagina {
  width: 100%;
  background-color: #c56cc5; }
  .pie-pagina .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
  .pie-pagina .box ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
    color: black; }
  .pie-pagina .box ul li a:hover {
    transition: all 0.3s;
    color: #f01212;
    font-weight: bolder; }
  .pie-pagina .red-social {
    display: flex;
    flex-direction: row; }
  .pie-pagina .red-social img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    justify-items: normal; }
  .pie-pagina .red-social img:hover {
    transition: all 0.5s;
    transform: translateY(-15px); }

.textoResaltado {
  font-weight: bold; }

/* TARJETAS */
.tarjetas1 {
  display: flex;
  padding-top: 60px;
  margin: 100px 20px;
  justify-content: space-between; }

.tarjetas2 {
  display: flex;
  margin-top: 30px;
  padding-top: 120px;
  margin: 100px 20px;
  justify-content: space-between; }

.card {
  width: 350px;
  border-radius: 10px; }

.card-title {
  width: 290PX;
  font-size: 1.5rem; }

.card-text {
  height: 200px;
  width: 290px;
  text-align: left;
  font-size: 1.5rem; }

.card:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.card-body-text {
  font-family: 'Julius Sans One', sans-serif;
  width: 3px;
  margin-top: 8px; }

/* CSS THE ART BOX TARJETA */
.tarjeta {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 260px;
  width: 900px;
  height: 600px; }

.card-img-top {
  width: 898px;
  height: 400px; }

.card-body {
  font-family: 'Julius Sans One', sans-serif;
  width: 900px; }

.card-title {
  padding-left: 27px;
  font-weight: bolder; }

@media (max-width: 320px) {
  .header nav {
    width: 320px; }
  .listItems {
    display: none; }
  .navbar-brand {
    font-size: 37px; }
  .padre1 {
    display: none; }
  .padre3 {
    display: none; }
  .card-title {
    width: 320px; }
  .card-text {
    width: 320px; }
  .card {
    width: 320px;
    justify-content: center; }
  .card img {
    height: 432px;
    width: 320px;
    justify-content: center; }
  .footer {
    width: 100%; }
  .suscribite {
    display: none; } }

@media (max-width: 375px) {
  .header nav {
    width: 375px; }
  .listItems {
    display: none; }
  .navbar-brand {
    font-size: 37px; }
  .padre1 {
    display: none; }
  .padre3 {
    display: none; }
  .card-title {
    width: 320px; }
  .card-text {
    width: 320px; }
  .card {
    width: 320px;
    justify-content: center; }
  .card img {
    height: 432px;
    width: 320px;
    justify-content: center; }
  .suscribite {
    display: none; } }

@media (max-width: 425px) {
  .header nav {
    width: 375px; }
  .listItems {
    display: none; }
  .navbar-brand {
    font-size: 37px; }
  .padre1 {
    display: none; }
  .padre3 {
    display: none; }
  .card-title {
    width: 320px; }
  .card-text {
    width: 320px; }
  .card {
    width: 320px;
    justify-content: center; }
  .card img {
    height: 432px;
    width: 320px;
    justify-content: center; }
  .suscribite {
    display: none; } }

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 37px; }
  .listItems {
    display: none; }
  .padre1 {
    display: none; }
  .padre2 section {
    display: block; }
  .padre3 {
    display: none; }
  .card-title {
    width: 320px; }
  .card-text {
    width: 320px; }
  .card {
    width: 320px;
    justify-content: center; }
  .card img {
    height: 432px;
    width: 320px;
    justify-content: center; }
  .suscribite {
    display: none; } }

@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 37px; }
  .padre1 {
    display: none; }
  .padre3 {
    display: none; }
  .card-title {
    width: 300px; }
  .card-text {
    width: 300px; }
  .card {
    width: 300px;
    justify-content: center; }
  .card img {
    height: 432px;
    width: 300px;
    justify-content: center; } }

@media (max-width: 320px) {
  .header nav {
    width: 320px; }
  .listItems {
    display: none; }
  .navbar-brand {
    font-size: 37px; }
  .nuestrosLibros {
    display: none; }
  .grilla section {
    margin-top: 0px;
    display: block; }
  .grilla section div p {
    font-size: 50px; }
  .section2 img {
    width: 100%; }
  .footer {
    width: 100%; } }
