* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.mainProductos .textoParrafo {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  text-align: justify; }

.textoResaltado {
  font-weight: bold; }

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-size: 67px;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 20px; }

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 37px;
  margin-top: 30px;
  padding: 20px;
  text-align: center; }

h3 {
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px 30px;
  font-size: 27px; }

h5 {
  font-size: 27px;
  font-weight: bolder; }

p {
  font-family: 'Alike', serif;
  font-size: 25px;
  padding: 10px 30px;
  text-align: justify; }

.padre3 p {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder; }

.header nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: baseline;
  height: 130px; }

/* NAVEGADOR */
.listItems ul li {
  display: flex;
  list-style: none;
  padding-left: 30px;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  justify-content: left; }

.nav li {
  margin: 0 10px; }

.nav li:hover {
  background-color: #f8f7f4;
  box-shadow: 5px 5px #e41111; }

.nav ul li a {
  color: red;
  text-decoration: none; }

/* MAIN */
.main {
  background-color: #ffffff; }

.padre1 {
  margin-bottom: 50px; }

.carrusel-hoku {
  width: 100%;
  height: 600px; }

.carrusel-metropolis {
  width: 100%;
  height: 600px; }

.carrusel-nighthawks {
  width: 100%;
  height: 600px; }

.textcarrusel1 h5 {
  font-family: 'Julius Sans One', sans-serif;
  width: 300px;
  background-color: white;
  font-size: 30px;
  color: black;
  font-weight: bolder; }

.textcarrusel1 p {
  text-align: start;
  font-family: 'Julius Sans One', sans-serif;
  width: 300px;
  background-color: white;
  font-size: 25px;
  color: black;
  font-weight: bolder; }

.padre3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }

.video {
  padding-top: 30px;
  padding-bottom: 30px; }

/* CSS PRODUCTOS  */
.grilla {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100vw;
  grid-row-gap: 60px;
  grid-template-areas: "nuestroslibros nuestroslibros" "section1 section1" "section2 section2" "section3 section3"; }

.nuestroslibros {
  display: grid;
  grid-area: nuestroslibros;
  justify-content: center;
  align-content: center; }

.estadosunidos {
  font-size: 30px; }

.rusia {
  font-size: 30px; }

.alemania {
  font-size: 30px; }

/* estados unidos */
.section1 {
  display: grid;
  grid-area: section1;
  background-color: #9cf19c;
  padding: 0px;
  display: flex; }

.texto1 {
  padding: 20px;
  display: inline-block;
  text-align: justify; }

/* rusia */
.section2 {
  grid-area: section2;
  background-color: #ff7f50;
  padding: 0px;
  display: flex; }

.texto2 {
  padding: 20px;
  text-align: justify; }

/* alemania */
.section3 {
  grid-area: section3;
  background-color: #10c4bb;
  padding: 0px;
  display: flex; }

.texto3 {
  padding: 20px;
  text-align: justify; }

.mainProductos .textoParrafo {
  color: #7a1f7a;
  font-size: 2rem; }
  .mainProductos .textoParrafohover {
    background-color: black; }

/* EDICIONES LIMITADAS ESTILOS */
.hoku {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-right: 45px; }

.textohoku {
  text-align: left;
  font-family: 'Julius Sans One', sans-serif; }

.hokuImg:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.szukal {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-left: 45px; }

.textszukalski {
  font-family: 'Julius Sans One', sans-serif; }

.szukalskiImg:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

/* FORMULARIO CSS */
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px; }

.nombre {
  padding-bottom: 30px; }

.mail {
  padding-bottom: 30px; }

/* FOOTER */
.footer {
  display: block;
  font-size: x-large;
  font-family: 'Julius Sans One', sans-serif;
  margin: 30px 0px 0px 0px;
  background-color: #e20b0b;
  padding-top: 20px; }

#contacto {
  color: black;
  font: bolder;
  padding-left: 30px; }

.suscribite {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 20px;
  font-weight: bold; }

.textoResaltado {
  font-weight: bold; }

/* TARJETAS */
.padre2 {
  display: flex;
  padding-top: 60px;
  margin: 100px 20px;
  padding-left: 50px;
  text-align: left;
  justify-content: center; }

.card {
  width: 400px;
  border-radius: 10px; }

.card:hover {
  transition: all 0.5s;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.card-body-text {
  font-family: 'Julius Sans One', sans-serif;
  width: 400px;
  margin-top: 8px; }

.card-berlin {
  height: 540px;
  border-radius: 8px; }

.card-mitos {
  width: 399px;
  border-radius: 8px; }

.card-rusia {
  width: 399px;
  height: 540px;
  border-radius: 8px; }

.card-szukalski {
  width: 399px;
  height: 540px;
  border-radius: 8px; }

/* CSS THE ART BOX TARJETA */
.tarjeta {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 260px;
  width: 900px;
  height: 600px; }

.card-img-top {
  width: 898px;
  height: 400px; }

.card-body {
  font-family: 'Julius Sans One', sans-serif;
  width: 900px; }

.card-title {
  padding-left: 27px;
  font-weight: bolder; }

/* MEDIA QUERIS */
/* PANTALLA MEDIANA */
/* INDEX */
@media (max-width: 768px) {
  h1 {
    font-size: 45px;
    text-decoration: none; }
  p {
    font-size: 20px; }
  .header {
    width: 100vw; }
  .header ul li {
    display: flex;
    justify-content: space-between; }
  /* MEDIA QUERIS INDEX */
  .padre1 {
    display: none; }
  .padre2 div {
    justify-content: center;
    display: block; }
  .card-berlin {
    width: 400px; }
  .hijo1 img {
    width: 250px;
    height: 350px;
    padding-right: 7px; }
  .hijo2 img {
    width: 250px;
    height: 350px;
    padding-right: 7px; }
  .hijo3 img {
    width: 250px;
    height: 350px;
    padding-right: 7px; }
  /* MEDIA QUERIS EDICIONES LIMITADAS */
  .szukal {
    display: block;
    padding-top: 25px; } }

/* MEDIA QUERIS PANTALLA CELL CHICA */
@media (max-width: 320px) {
  .header {
    display: block;
    height: 250px;
    width: max-content;
    padding-bottom: 30px; }
  .nav ul {
    display: block;
    justify-content: center;
    justify-items: center;
    font-size: 30px; }
  .padre1 {
    display: block;
    justify-items: center; }
  .hijo img {
    display: none; }
  .padre2 {
    display: block; }
  .padre2 .hijo1 {
    justify-items: center; }
  .padre3 {
    display: none; }
  .footer div {
    display: block;
    justify-content: center; }
  .footer h3 {
    font-size: 20px; }
  .footer label {
    font-size: 20px; }
  .suscribite form {
    justify-content: center; }
  .suscribite div {
    display: none; }
  .hoku {
    display: block; }
  .hoku img {
    width: 320px;
    height: 300px; }
  .szukal img {
    width: 320px;
    height: 300px; }
  .szukal div {
    padding-top: 20px; } }

@media (max-width: 650px) {
  .mainProductos .nuestrosLibros {
    text-align: center; }
  .mainProductos img {
    width: 320px; }
  .mainProductos .section1 {
    display: block; }
  .mainProductos .texto1 {
    width: 320px; }
  .mainProductos .section2 {
    display: block; }
    .mainProductos .section2 img {
      height: 350px; }
  .mainProductos .texto2 {
    width: 320px; }
  .mainProductos .section3 {
    display: block; }
    .mainProductos .section3 img {
      width: 320px;
      height: 174px; } }
