*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 
 //Variables 
 @import './vaiables/colores';
 @import './vaiables/extend';

 @import './vaiables/mixin';
 @import './secciones/fuentes';
 @import './vaiables/tamanio';

 
 


 //importaciones
  @import './header-footer/header';
  @import './secciones/index';
  @import './secciones/productos';
  @import './secciones/edicioneslimitadas';
  @import './secciones/theartbox';
  @import './secciones/contacto.scss';
  @import './secciones/grilla';
  @import './header-footer/footer';
  @import './utilidades/botones';
 
  @import './utilidades/cards';
  


  //MEDIA QUIERIS INDEX
  @import './vaiables/mqueris';

 



   
    




























