


/* FOOTER */


.footer  {
    display: block;
    font-size: x-large;
    font-family: 'Julius Sans One', sans-serif;
    margin: 30px 0px 0px 0px;
    background-color: rgb(226, 11, 11);
    padding-top: 20px;
   
   
   
   }
   
   
   #contacto {
       color: black;
       font:bolder;
       padding-left: 30px;
   }
   
   .suscribite {
       display: flex;
       justify-content: center;
       justify-content: space-between;
       padding-top: 20px;
       font-weight: bold;
       
   }