


/* FOOTER */


.pie-pagina{
    width: 100%;
    background-color: rgb(197, 108, 197);
   
    
    .grupo1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:50px;
        padding: 45px 0px;


    }
    .box ul li a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        text-decoration: none;
        font-weight: bolder;
        color: black;
        


    }
    .box ul li a:hover{
        transition: all 0.3s;
        color: rgb(240, 18, 18);
        font-weight: bolder;

    }

   
        
     .red-social {
        display: flex;
        flex-direction:row;
    }
   

   .red-social img{
       
       width: 45px;
       height: 45px;
       margin-right: 10px;
       justify-items: normal;
   }
   .red-social img:hover{
    transition: all 0.5s;
    transform: translateY(-15px);
   }
   

    
     
}
