

.header {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: baseline;
    height: 130px;
    background-color: rgb(56, 17, 73);
 }
 /* NAVEGADOR */
 
 .nav ul{
    display:flex;
    list-style: none;
    padding-right: 30px;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
 }
 
 .nav li{
    margin: 0 10px;
 
 }
 
 .nav li:hover {
 background-color: rgb(248, 247, 244);
 box-shadow: 5px 5px rgb(228, 17, 17);
 
 }
 
 .nav ul li a{
   color:  red
 }

