//HEADER

.header nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: baseline;
    height: 130px;
    background-color: rgb(197, 108, 197);
    
}

/* NAVEGADOR */

.navbar-nav li{
    display:flex;
    list-style: none;
    padding-left: 30px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    justify-content: left;
    margin: 0 10px;
}



.navbar-nav li:hover {
 transition: all 0.5s;
 transform: translateY(-15px);
 background-color: rgb(197, 108, 197);
 box-shadow: 5px 5px rgb(228, 17, 17);
 
 
}

.nav ul li a{
   color:  red;
   text-decoration: none;
   
}
