//HEADER

.header nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: baseline;
    height: 130px;
    
}

/* NAVEGADOR */

.listItems ul li{
    display:flex;
    list-style: none;
    padding-left: 30px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    justify-content: left;
}

.nav li{
    margin: 0 10px;

}

.listItems li:hover {
 background-color: rgb(173, 80, 158);
 box-shadow: 5px 5px rgb(228, 17, 17);
 
}

.nav ul li a{
   color:  red;
   text-decoration: none;
   
}
