//los extend se escribin con un % al principio
//en lugar de el signo pesos de una variable

%estiloParrafo {
    font-family:  'Julius Sans One', sans-serif;
    font-weight: lighter;
    text-align: justify;
    
    
}