//es una coleccion de variables
//lo llamamos con signo $

//MAPA
$textoResaltado:(
    spamUsa:rgb(98, 98, 218),
    spamRusia: rgb(223, 45, 45),
    spamAlemania:rgb(250, 163, 2)

);

//BUCLE
@each $frase,$color in textoResaltado{
    .#{$frase}{
        color: $color;
        font-weight: bold;
    }
    
}