
//MEDIA QUERIS INDEX 320 PX MOBILE SMALL

@media (max-width:320px){
    .header nav {
        width: 320px;

    }
   .listItems{
       display:none;
   }
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }
    .footer {
        width: 100%;
    }

    
    
    .suscribite {
        display: none;
    }


}

//MEDIA QUERIS INDEX 375PX MOBILE MEDIUM


@media (max-width:375px){
    .header nav {
        width: 375px;

    }
    .listItems{
        display:none;
    }
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }

    
    
    .suscribite {
        display: none;
    }


}


//MEDIA QUERIS INDEX 425PX MOBILE L


@media (max-width:425px){
    .header nav {
        width: 375px;

    }
    .listItems{
        display:none;
    }
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }

    .suscribite {
        display: none;
    }


}


//MEDIA QUERIS INDEX TABLET 768PX 

@media (max-width:768px){
   
    
    .navbar-brand{
        font-size: 37px;

    }
   
    .listItems{
        display: none;
    }
    
    .padre1 {
        display: none;
    }
    .padre2 section{
        display: block;
        
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }

    .suscribite {
        display: none;
    }


}


//MEDIA QUERIS INDEX TABLET 1024PX LAPTOP

@media (max-width:1024px){
   
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
   
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 300px;
    }
    .card-text{
        width: 300px;
    }

    .card {
        width: 300px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 300px;
        justify-content: center;
    }

    


}

//MEDIA QUERIS PRODUCTOS 320 px
@media (max-width:320px){
    
    .header nav {
        width: 320px;

    }
   .listItems{
       display:none;
   }
    
    .navbar-brand{
        font-size: 37px;

    }
    .nuestrosLibros {
        display: none;
    }
    .grilla section{
        margin-top: 0px;
        display: block;
    }
    .grilla section div p{
        font-size: 50px;
    }
    .section2 img{
       width: 100%;
    }
    .footer {
        width: 100%;
    }

   
    
}
   
  
    



