
//MEDIA QUERIS INDEX 320 PX MOBILE SMALL

@media (max-width:320px){
    .header nav {
        width: 320px;

    }
   .listItems{
       display:none;
   }
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }
    .footer {
        width: 100%;
    }

    
    
    .suscribite {
        display: none;
    }


}

//MEDIA QUERIS INDEX 375PX MOBILE MEDIUM


@media (max-width:375px){
    .header nav {
        width: 375px;

    }
    .listItems{
        display:none;
    }
    
    .navbar-brand{
        font-size: 37px;

    }
    
    .padre1 {
        display: none;
    }
    
    .padre3{
        display:none;
    }
    .card-title{
        width: 320px;
    }
    .card-text{
        width: 320px;
    }

    .card {
        width: 320px;
        justify-content: center;
       
       
    }
    .card img{
        height: 432px;
        width: 320px;
        justify-content: center;
    }

    
    
    .suscribite {
        display: none;
    }


}


//MEDIA QUERIS INDEX 425PX MOBILE L


@media (max-width:425px){
   
    .tituloPrincipal h1{
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 10px;
        font-size: 40px;
    }
    
    .navbar-brand{
        font-size: 37px;

    }
    .tarjetas1{
        display: block;
        padding-top: 5px;
        
    }
    .tarjetas2{
        padding-top: 5px;
        display: block;
    }
    .main{
        justify-content: center;
    }

    .card{
        width: 288px;
    }
    
    .red-social img{
        display: none;
    }
    
    



}


//MEDIA QUERIS INDEX TABLET 768PX 

@media (max-width:768px){
   
    
    .navbar-brand{
        font-size: 37px;

    }
   
    .listItems{
        display: none;
    }
    .tarjetas1 div{
        display: block;
        justify-content: center;
    }
    .tarjetas2 div{
        display: block;
        justify-content: center;

    }


}


//MEDIA QUERIS PRODUCTOS 425 px
@media (max-width:425px){
    
    
  
    
    .navbar-brand{
        font-size: 37px;

    }
   
    .grilla section{
        margin-top: 0px;
        display: block;
        width: 425px;
    }
    .grilla section div p{
        font-size: 50px;
    }
    .section1 img{
        width: 425px; 
    }
    .section2 img{
       width: 425px;
    }
    .section3 img{
        width: 425px;
        height: 230px; 
    }
    .alemania p{
        font-size: 30px;
    }
    .footer {
        width: 100%;
    }

   
    
}

//MEDIA QUERIS THE ART BOX SMALL MOBILE 320 PX



   
  
    



