

/* css de index */
/* Encabezado */

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 67px;
    color: red;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 20px;
 }
 
 h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 37px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
 }
 
 h3 {
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 30px;
 
 }
 
 
 
 
 p {
    font-family: 'Alike', serif;
    font-size: 25px;
    padding: 10px 30px;
    text-align: justify;
 }
 
 
 