//FONTS

.navbar-brand{
    font-family: 'Anton', sans-serif;
    font-size: 67px;
    text-decoration: none;
    

}
.tituloPrincipal h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 67px;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 37px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 30px;
    font-size: 27px;

}

h5{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    color: black;

}




p {
    font-family: 'Alike', serif;
    font-size: 25px;
    padding: 10px 30px;
    text-align: justify;
}

.padre3 p{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
}




 