
/* CSS PRODUCTOS  */

.grilla {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100vw;
    grid-row-gap: 60px;
   grid-template-areas:
   "nuestroslibros nuestroslibros"
   "section1 section1"
   "section2 section2"
   "section3 section3"
   ;
 
 
 
 }