
.nuestroslibros {
    display: grid;
    grid-area: nuestroslibros;
    justify-content: center;
    align-content: center;
 
 }
 
 
 .estadosunidos {
 
    font-size: 30px;
 }
 .rusia {
    font-size: 30px;
 }
 
 .alemania {
    font-size: 30px;
 }
 
 /* estados unidos */
 
 .section1 {
    display: grid;
    grid-area: section1;
    color:$verdeaugua;
    padding: 0px;
    display: flex;
 
    }
 
 .texto1 {
    padding: 20px;
    display: inline-block;
    text-align: justify;
 }
 /* rusia */
 
 .section2 {
    grid-area: section2;
    color:$coral;
    padding:  0px;
    display: flex;
 
 }
 .texto2  {
    padding: 20px;
    text-align: justify;
 }
 /* alemania */
 .section3{
    grid-area: section3;
    color:$celeste;
    padding:  0px;
    display: flex;
 
 }
 .texto3 {
    padding: 20px;
    text-align: justify;
 }