
/* CSS THE ART BOX TARJETA */
.tarjeta{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 260px;
    width: 900px;
    height: 600px;
 }
 .card-img-top {
   
    width: 898px;
    height: 400px;
 }
 
 .card-body{
    font-family: 'Julius Sans One', sans-serif;
    width: 900px;
 }
 
 .card-title {
    padding-left: 27px;
    font-weight:bolder;
 }
 
 
 