


/* FORMULARIO CSS */
.formulario {

    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}


.nombre {
    
    padding-bottom: 30px;
}
.nombre label{
    font-size: 27px;
}
.mb-3 label{
    font-size: 27px;

}

.mail {
    padding-bottom: 30px;
}

